extends layout

append stylesheet
  link(rel='stylesheet', href='/stylesheets/2019linestring.css')

block content
  h1= title
  #centerPoint
  #zoomValue

  #mapInfoContainer
    #map
    #rightcolumn
      select#links(size="5")
      div#btnContainer
        button#btnAdd Add
        button#btnDelete Delete
        button#btnClear Clear
        button#btnConnect Connect
        button#btnReverse Reverse
      textarea#layersInfo

  script(src='/javascripts/model.js', type="module")
  script(src='/javascripts/2019linestring.js', type="module")