extends layout

append stylesheet
  link(rel='stylesheet', href='/stylesheets/2019linestring.css')

block content
  h1= title
  label(for="sourceList") select an access destination: 
  select#sourceList(name="sourceList")
    option(value="legacy") Legacy
    option(value="gsi20" selected) GSI20
    option(value="othergsi" selected) Other GSI20
  #centerPoint
  #zoomValue

  #mapInfoContainer
    #map
    #rightcolumn
      select#links(size="5")
      div#btnContainer
        button#btnAdd Add
        button#btnDelete Delete
        button#btnClear Clear
        button#btnConnect Connect
        button#btnReverse Reverse
      textarea#layersInfo

  script(src='/javascripts/model.js', type="module")
  script(src='/javascripts/2019linestring.js', type="module")