extends layout

append stylesheet
  link(rel='stylesheet', href='/stylesheets/aggregatebysemantic.css')

block content
  h1=title

  #pulldowns
    form
      select#semanticPulldown(name='semantic')
    form
      select#directionPulldown(name='direction')
        option(value="outward" selected) outward
        option(value="homeward") homeward
    button#fetchButton Fetch Data On Selected Semantic Link

  #mapGraphContainer
    #map
    #graph

  #configContainer
    textarea#sqlbox(placeholder="Input SQL")
    #config
      .configChildren#graphSelector Choose graph type
        div
          input(type='radio' name='graph' value='histogram' checked)
          label(for='graph') Histogram
        div
          input(type='radio' name='graph' value='heatmap')
          label(for='graph') Heatmap
      .configChildren#graphConfig
      button.configChildren#redrawButton Redraw

  button#submitButton Submit SQL Statement

  script(src='/javascripts/aggregatebysemantic.js')