extends layout

append stylesheet
  link(rel='stylesheet', href='/stylesheets/aggregatebysemantic.css')

block content
  h1=title

  #pulldowns
    form
      select#semanticPulldown(name='semantic')
    form
      select#directionPulldown(name='direction')
        option(value="outward" selected) outward
        option(value="homeward") homeward
    button#drawButton Draw Graph

  #mapGraphContainer
    #map
    #graph

  #configContainer
    textarea#sqlbox(placeholder="Input SQL")
    #config

  button#submitButton Submit SQL Statement

  script(src='/javascripts/aggregatebysemantic.js')