extends layout

append stylesheet
  link(rel='stylesheet', href='/stylesheets/aggregatebysemantic.css')

block content
  h1=title

  form
    select#semanticPulldown(name='semantic')

  #mapGraphContainer
    #map
    #graph

  #sqlbox

  script(src='/javascripts/aggregatebysemantic.js')