extends layout

block content
  h1=title

  ul
    li
      a(href='gsi20') GSI20 Road Link Viewer
    li
      a(href='legacy') Legacy Road Link Viewer
    li
      a(href='legacylinestring') Legacy Line String Viewer.
    li
      a(href='2019linestring') 2019 Line String Viewer.
    li
      a(href='legacysemantic') Semantic Editor 
    li
      a(href='aggregatebysemantic') aggregate by semantic