doctype html
html
  head
    title= title
    
    block stylesheet

    // JQuery and leaflet.
    script(src='https://code.jquery.com/jquery-2.2.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css')
  body
    block content
