extends layout

append stylesheet
  link(rel='stylesheet', href='/stylesheets/legacysemantic.css')

block content
  h1= title
  #zoomValue

  #mapInfoContainer
    #map
    #rightcolumn
      div Select Semantics
      form
        select#semanticPulldown(name='semantic')

  script(src='/javascripts/legacysemantic.js')