extends layout

append stylesheet
  link(rel='stylesheet', href='/stylesheets/legacylinestring.css')

block content
  h1= title
  #centerPoint
  #zoomValue

  #mapInfoContainer
    #map
    #rightcolumn
      #layersInfo

  script(src='/javascripts/legacylinestring.js')