extends layout

append stylesheet
  link(rel='stylesheet', href='/stylesheets/legacylinestring.css')

block content
  h1= title
  #zoomValue

  #mapInfoContainer
    #map
    #rightcolumn
      div Select Semantics
      form
        select#semanticPulldown(name='semantic')

      div Create new semantic

  script(src='/javascripts/legacysemantic.js')