html {
  height: 100%;
}

body {
  padding: 5px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 90%;
}

a {
  color: #00B7FF;
}

#mapInfoContainer {
  height: 90%;
}

#map {
  width: 100%;
  height: 100%;
  float: left;
}

#layersInfo {
  width: 30%;
  height: 100%;
  float: right;
}

.popupText {
  font-size: 8px;
}
